/*************** CONTACT FORM *******************/

input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  /* border: 2px solid grey; */
  /* border-radius: 4px; */
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid 1px #b3aca7;
}

input[type=submit] {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: solid 1px #b3aca7;
}

input[type=submit]:hover {
  background-color: tomato;
}

div .contact-form {
  display: block;
  margin: 0 auto;
  padding: 20px;
  margin-top: 130px;
  /* background-color: #FAF8F8;  */
  /* background-color: lightblue; */
  width: 35%;
  margin-bottom: 130px;
}

/* Contact form width for small screens */

@media (max-width: 1024px) {
  div .contact-form {
    width: 50%;
  }
}

@media (max-width: 800px) {
  div .contact-form {
    width: 75%;
  }
}

@media (max-width: 425px) {
  div .contact-form {
    width: 95%;
  }
}

/* ************************************* */

div .contact-form label {
  font-weight: bold;
}
