html {
  /* background-image: url(../img/california_home_page.jpg); */
  /* background-image: url(../img/hand_light.jpg); */
  background-color: #FBFFF2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}

#enter-page-click {
  text-align: center;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.box-shadow {
  max-width: 75%;
  margin: 10% auto;
  box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
}

.container-box {
  position: relative;
  /* max-width: 75%; */
  /* margin: 10% auto; */
  padding: 40px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.enter-page-logo {
  /* box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4); */
  text-align: center;
  font-size: 24px;
  opacity: 0.7;
}

@media (max-width: 500px) {
  body {
    padding-top: 200px;
  }
}

@media (max-width: 850px) {
  .enter-page-logo {
    padding: 50px 0;
  }
}

.logo, .jobs {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: 700;
}

.fa {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #1C2217;
}

.fa.hidden {
  margin-top: px;
}

.enter-page-btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #070407;
  font-size: 32px;
  margin-top: 0px;
  padding: 12px 16px;
  border: hidden;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.9;
}

.enter-page-btn:hover {
  text-decoration: underline;
}
