


#enter-page-click {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;

}



.enter-page-logo {
  display: none;
  text-align: center;
  padding: 100px 0;
}

.logo,
.jobs {
  font-family: 'Ubuntu', sans-serif;

}


.enter-page-btn {
  padding: 12px 16px;
  border-radius: 5px;
  cursor: pointer;


}
