
html {
  background-image: url(../img/california_home_page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}

#enter-page-click {

  text-align: center;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;

}



.enter-page-logo {
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  display: none;
  text-align: center;
  padding: 100px 0;

}

.logo,
.jobs {
  font-family: 'Ubuntu', sans-serif;
  color: #FAF8F8;
  font-weight: 700;

}

.fa {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #CEEBEE;
}


.enter-page-btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  font-size: 32px;
  margin-top: 0px;
  padding: 12px 16px;
  border: hidden;

  cursor: pointer;
  background-color: transparent;


}
