* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
}

/* #page {
  margin: 0 auto;
} */
#header {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20em;
  padding-top: 15em;
}

a[href*="mail"], a[href*="tel"] {
  color: tomato;
}

/************* NAV BAR STYLES ********** */
/* Navbar container */
.navbar {
  position: relative;
  text-align: center;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  /* border-bottom: 2px solid black; */
  padding-bottom: 10px;
}

.top-nav {
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;




}

/* Links inside the navbar */
.main-nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  /* padding-left: 12px; */
  padding-top: 12px;
  padding: 12px 16px;
  text-decoration: none;
}

/* Active Menu Item */
.top-nav .active {
  font-weight: bold;
  border-bottom: 2px solid tomato;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  /* background-color: #ddd; */
  color: black;
  border-bottom: 2px solid lightgray;
}

/* *********** Classes ************* */
.tree {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  opacity: 0.7;
  background-position: center;
  background-repeat: repeat;
}

@media (max-width: 400px) {
  .tree {
    width: 100%;
  }
}

.logo {
  text-align: center;
  /* font-family: 'Libre Franklin', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  /* font-size: 4em; */
  font-size: 32px;
  font-weight: 200;
  color: #555E66;
  /* color: #93B391; */
  padding-top: 50px;
}

/* Change Font size of Name and Fields */
.jobs {
  text-align: center;
  /* font-family: 'Libre Frankin', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  /* font-size: 1.2em; */
  font-size: 28px;
  /* color: black; */
  color: #555E66;
  padding-top: 10px;
}

section {
  display: inline-block;
}

.row {
  display: block;
  margin: auto;
  width: 75%;
  /* padding-top: 75px; */
  padding-bottom: 75px;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
}

.column {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  /* width: 75%; */
  margin-bottom: 25px;
  /* border-bottom: 1px solid #ddd; */
  border-bottom: 2px solid rgb(214, 214, 214);
}

.column li {
  list-style-type: none;
  font-size: 1.2em;
}

.column h1 {
  font-size: 2em;
  padding-top: 5px;
  color: gray;
}

.column p {
  font-size: 1em;
}

.top-par {
  text-align: justify;
}

@media (max-width: 415px) {
  div .row {
    width: 90%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*********** SOCIAL MEDIA ICONS ************/
.social-media-icons {
  position: relative;
  text-align: right;
}

/* Style all font awesome icons */
.fa {
  padding: 16px;
  font-size: 16px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: red;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-github {
  /* background: #3B5998; */
  color: #FFFFE5;
}

/* Twitter */
.fa-instagram {
  /* text: #55ACEE; */
  color: #FFFFE5;
}

/* Linked-IN */
.fa-linkedin {
  /* background: #55ACEE; */
  color: #FFFFE5;
}

.fa-facebook {
  color: #FFFFE5;
}

.fa-soundcloud {
  color: #FFFFE5;
}

footer {
  /* margin-top: 300px; */
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* Media Queries */
@media (min-width: 320px) {
  .logo {
    font-size: 32px;
  }

  .jobs {
    font-size: 20px;
  }
}

@media (min-width: 760px) {
  .logo {
    font-size: 48px;
  }

  .jobs {
    font-size: 28px;
  }

  /* Trying out CSS Transition ******** */
