

/* MEDIA QUERIES */


@media (max-width: 768px) {

  body {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;

  }

}

@media (max-width: 400px) {

  /* #pagewrap {
    width: 100%;
  } */

  body {
    /* max-width: 100%; */
    margin-left: 10px;
    margin-right: 10px;
  }

}
