

/* MEDIA QUERIES */

@media (min-width: 1600px) {
  #pagewrap {
    max-width: 100%;
  }



  /* .column h1 {
    font-size: 1em;
  }

  .column, li {
    list-style-type: none;
    font-size: 0.9em;
  }

  .column p {
    font-size: 0.9em;
  }

} */


@media (min-width: 425px) {

  #pagewrap {
    max-width: 100%;
  }



}

@media (min-width: 375px) {

  #pagewrap {
    max-width: 100%;
  }



  .logo,
  .jobs,
  .social-media-icons {
      /* float: left;
      display: flex;
      flex-direction: column; */

  }

}





@media (min-width: 320px) {

  html {
    font-size: 16px;

  }

  

  #pagewrap {
    max-width: 100%;
  }

  .navbar {
    display: inline;

  }

  .social-media-icons {
    display: inline;
  }







}
