

/* MEDIA QUERIES */

@media (min-width: 1600px) {
  #pagewrap {
    max-width: 100%;
  }

  body {

    max-width: 100%;
    margin-left: 100px;
    margin-right: 100px;
  }

  /* .column h1 {
    font-size: 1em;
  }

  .column, li {
    list-style-type: none;
    font-size: 0.9em;
  }

  .column p {
    font-size: 0.9em;
  }

} */


@media (min-width: 425px) {

  #pagewrap {
    max-width: 100%;
  }

  body {
    /* font-size: 16px; */
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;

  }

}

@media (min-width: 375px) {

  #pagewrap {
    max-width: 100%;
  }

  body {

    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }


}


@media (min-width: 320px) {

  #pagewrap {
    max-width: 100%;


  }
}
