/*************** SOUNDCLOUD PLAYER ************************/

div .row {
  width: 50%;
}

/* .fa:hover {
  transition: .7s ease;
  transform: scale(1.5);
  transition-duration: 200;
} */

.sc_player {
  margin: 0 auto;
  /* width: 65%; */
  padding: 20px;
  /* background-color: #FAF8F8; */
  padding-bottom: 100px;
}

.videos {
  text-align: center;
  margin: auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  padding-bottom: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 425px) {
  div .row {
    width: 85%;
  }
}
