/* Fix default Argon stylesheet */

.navbar {
  z-index: 1;
  background-color: #677A65 !important;
  /* background-color: #1B181E !important; */
  opacity: 0.9;
  margin: 0 auto;
  width: 90%;
  /* height: 5%; */
  left: 0;
  right: 0;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div .container {
  color: white;

}
