

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* margin: 75px !important; */
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  /* margin-top: 75px;
  margin-left: 35px;
  margin-right: 35px; */
  font-size: 1em;
}

#page {
  /* max-width: 100%; */

  margin: 0 auto;
}

#header {
  font-family: 'Poppins', sans-serif;
}

/************* NAV BAR STYLES ********** */

/* Navbar container */

.navbar {
  right: auto;
  width: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

/* Links inside the navbar */

.main-nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */

.dropdown {
  overflow: hidden;
}

/* Dropdown button */

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */

.main-nav a:hover, .dropdown:hover .dropbtn {
  /* background-color: grey; */
  opacity: 0.7;
}

/* Dropdown content (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  float: none;
  color: black;
  padding-left: 12px;
  padding-top: 12px;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* *********** Classes ************* */

.tree {
  display: block;

  margin: auto;
  padding-top: 80px;
  width: 75%;
  opacity: 0.7;
  background-position: center;
  background-repeat: repeat;
}

.logo {
  
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* font-size: 4em; */
  font-size: 3.5vw;
  font-weight: 200;
  color: black;
}

.jobs {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* font-size: 1.2em; */
  font-size: 2vw;
  color: black;
}

.row {
  display: block;
  margin: auto;
  width: 75%;
  /* width: 900px; */
  /* width: 900px; */
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: 'Poppins', sans-serif;

}

.container {
  display: block;
  margin: auto;
  background-color: #FAF8F8;
  width: 100%;
  box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.17);

  /* display: flex; */
  flex-basis: auto;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.column {
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 2px 10px 18px 1px rgba(0,0,0,0.17);
  -moz-box-shadow: 2px 10px 18px 1px rgba(0,0,0,0.17);
  box-shadow: 2px 10px 18px 1px rgba(0,0,0,0.17);
  padding: 18px;
  height: auto;
  background-color: #FAF8F8;
  margin-bottom: 25px;

}

.column li {
  list-style-type: none;
  font-size: 1.2em;
}

.column h1 {
  font-size: 2em;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  color: gray;
}

.column p {
  font-size: 1em;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*************** CONTACT FORM *******************/

input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
}

input[type=submit] {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: lightgrey;
}

div .contact-form {

  padding: 20px;
  margin-top: 20px;
  background-color: #FAF8F8;
  width: auto;
}

/*************** SOUNDCLOUD PLAYER ************************/

.sc_player {
  padding: 20px;
  background-color: #FAF8F8;
  padding-bottom: 100px;
}

/*********** SOCIAL MEDIA ICONS ************/

.social-media-icons {
  position: fixed;
}

/* Style all font awesome icons */

.fa {
  padding: 1em;
  font-size: 1em;
  width: 2.2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.7;
  color: red;
}

/* Set a specific color for each brand */

/* Facebook */

.fa-github {
  /* background: #3B5998; */
  color: black;
}

/* Twitter */

.fa-instagram {
  /* text: #55ACEE; */
  color: black;
}

/* Linked-IN */

.fa-linkedin {
  /* background: #55ACEE; */
  color: black;
}

.fa-facebook {
  color: black;
}

.fa-soundcloud {
  color: black;
}

footer {
  /* margin-top: 300px; */
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}


/* PSEUDO CLASSES */
